junit.xml
abuild*.xml
.config
.config.old
defconfig
.coreboot-version
.xcompile
.ccwrap
build/
coreboot-builds/
coreboot-builds*/

site-local

*.\#
*.a
*.bin
*.debug
!Kconfig.debug
*.elf
*.fd
*.o
*.o.d
*.out
*.pyc
*.sw[po]
/*.rom
.test
.dependencies

# Development friendly files
tags
.clang_complete

# Cross-compile toolkits
xgcc/
tarballs/

# editor backup files, temporary files, IDE project files
*~
*.kate-swp
*.kdev4

doxygen/*

# blobs needed to build some boards, not under git control
3rdparty/arm-trusted-firmware/
3rdparty/amd_blobs/
3rdparty/blobs/
3rdparty/intel-microcode/
3rdparty/libgfxinit/
3rdparty/libhwbase/
3rdparty/qc_blobs/
